* { border-radius: 0 !important; }

img {
  width: 30px;
  margin-right: 10px;
}

body, nav {
  background-color: #222 !important;
  color: #eee !important;
  padding-bottom: 10px;
}

table, td, td, th, nav {
  border-color: #4d4d4d !important;
}

nav span {
  color: #eee !important;
}

.sorted {
  background-color: #4d4d4d !important;
}

.glyphicon {
  margin-left: 5px;
  vertical-align: middle;
}